@import url(https://fonts.googleapis.com/css?family=Cabin:700);

body {
  padding-top: 2em;
}

.circle-container {
			position: relative;
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-o-perspective: 1000;
			perspective: 1000;	
			margin: 0 auto;	
		}
		
		.circle-container:hover .circle
		{
			-webkit-transform: rotate3d(45, 45, 0, 180deg);
			-moz-transform: rotate3d(45, 45, 0, 180deg);
			-o-transform: rotate3d(45, 45, 0, 180deg);
			transform: rotate3d(45, 45, 0, 180deg);
		}
		
		.circle-container:hover .outer-ring
		{
			-webkit-transform: rotate3d(45, 0, 0, 180deg);
			-moz-transform: rotate3d(45, 0, 0, 180deg);
			-o-transform: rotate3d(45, 0, 0, 180deg);
			transform: rotate3d(45, 0, 0, 180deg);
		}
		
		.circle-container, .front, .back {
			width: 175px;
			height: 175px;
			background-color: rgba(0,0,0,0);
		}
		
		.circle, .outer-ring {
			-webkit-transition: 0.5s;
			-webkit-transform-style: preserve-3d;
			-webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
			
			-moz-transition: 0.5s;
			-moz-transform-style: preserve-3d;
			-moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
			  
			-o-transition: 0.5s;
			-o-transform-style: preserve-3d;
			-o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
			
			transition: 0.5s;
			transform-style: preserve-3d;
			transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */
		}
		
		.circle {
			position: relative;
			width: 175px;
			height: 175px;
		}
		
		.front, .back {
			border-radius: 50%;
			box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			backface-visibility: hidden;
		
			position: absolute;
			top: 0;
			left: 0;
		}
		
		.front {
			background-color: rgba(0, 0, 0,.2);
			z-index: 2;
		}
		
		.front p {
			margin-top: 1.2em;
			font-family: cabin, sans-serif!important;
			font-weight: 700;
			font-size: 3em;
			text-align: center;
			color: #e08b6e;
		}
		
		.back {
			-webkit-transform: rotate3d(45,45,0,180deg);
			-moz-transform: rotate3d(45,45,0,180deg);
			-o-transform: rotate3d(45,45,0,180deg);
			transform: rotate3d(45,45,0,180deg);
			background-color:  rgba(0, 0, 0,.2);
			color: #e08b6e;
		}
		
		.back-logo {
			width: 60%;
			display: block;
			margin: 2em auto;
		}
		
		.outer-ring {
			position: absolute;
			top: -10px;
			left: -10px;
			border-radius: 50%;
			border: 2px solid  rgba(255, 255, 255,.2);
			width: 191px;
			height: 191px;
			background-color:  rgba(255, 255, 255,.2);
		}